main{
    display: table-cell;
}

main section h1{
    font-size: medium;
}
main section #news {
    text-align: center;
    font-size: 1.5em;
}

#quickshop{
        display: table-cell;
        width: 20%;
        border-left: 2px dotted #675c47;
        text-align: center;  
}

#availableProducts ul li{
    padding: 10px;
    text-align: center;
 }

#availableProducts{
    display: table-cell;
    width: 20%;
    border-right: 2px dotted #675c47;  
}

#beveragetitle{
    font-size: x-large;
    text-align: center;
}

#beverages{
    display: block;
    margin: auto;
    margin-right: auto;
    width: 50%;
}


